[Unit]
Description=Cooler Display Service

[Service]
Type=simple
ExecStart={python_path} app.py monitoring {device_path}
WorkingDirectory={working_directory}
Restart=on-failure

[Install]
WantedBy=multi-user.target
